*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;

}

.container-navbar {
    background-color: rgb(35, 41, 39);
    width: 100%;
    height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  margin: 5px;
  padding: 20px;
  font-size: 30px   ;
}

.li-navbar:hover {
    background-color: blue;
    transition: .3s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
    box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.73);
-webkit-box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.73);
-moz-box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.73);
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.container-content {
   background-color: #dbdbdb;
    display: flex;
    justify-content: center;
  align-items: center;
  height: 80vh;     
}

.a-content {
    background-color: rgb(83, 54, 0);
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container-img {
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-img {
    background-color: rgb(65, 127, 185);
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;z
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content {
    width: 20%;
    height: 20%;
}

.container-footer {
    background-color: rgb(255, 255, 255);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
}